// out: ../css/newtab.css, compress: true, sourceMap: true

@import "fonts"; 

// -- Configuration --

// Fonts
@fonts1: LatoWebThin,  sans-serif;
@fonts2: LatoWeb,      sans-serif;
@fonts3: LatoWebLight, sans-serif;

// Colours
@colour1: #f6f6f6;
@colour2: grey;
@colour3: black;
@colour4: white;

// Miscellaneous
@bgSource: url("https://source.unsplash.com/category/nature/daily");
@bgBackup: url("../img/photo-1445089073948-809762476ed5.jpg");
@mnuWidth: 20em;

// -- Application --

// Font
@fntTitle:      @fonts1;
@fntContent:    @fonts1;
@fntSubmenu:    @fonts2;
@fntFooter:     @fonts3;
@fntBroadcast:  @fonts2;
// Colour
@colTitle:      @colour1;
@colContent:    @colour1;
@colSubmenuText:@colour4;
@colSubmenuBG:  @colour3;    
@colFooter:     @colour1;
@colBroadcast:  @colour1;
@colBackground: @colour2;
@txtShadow:     @colour3;
@icnShadow:     @colour3;
@mnuShadow:     @colour3;

// -----------------

body {
    background-color: @colBackground;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: @colContent;
    text-shadow: 0 0 25px @txtShadow;
    font-weight: 100;
    font-family: @fntContent;
}

.background {
    width: 100%;
    height: 100%;
    background-image: @bgBackup;
    background-image: @bgSource;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    animation: fadein 4s;
}

.container {

    .content {
        margin: 2em;

        .title {
            font-size: 10em;
            font-family: @fntTitle;

            .ampm {
                font-size: 0.5em;
            }
        }

        .subtitle {
            font-size: 2.5em;
            margin-bottom: 0.5em;
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;

        p {
            margin: 0.25em;
        }

        a {
            &:link, &:visited, &:hover, &:active {
                color: @colFooter;
            }
        }
    }
}

.bookmarksbar {
    width: 100%;
    text-align: center;
    padding-top: 1em;

    p {
        margin: 0.25em 0 0 0;
    }

    #broadcast {
        font-family: @fntBroadcast;
        text-shadow: 0 0 15px @txtShadow;
    }
}

#bookmarksbar {
    display: inline-block;
    padding: 0.2em;
    margin: 0;
    
    li {
        display:inline;
        margin: 0 0.4em 0 0.4em;

        img {
            filter: drop-shadow(0 0 0.75em @icnShadow);
            width: 16px;
            height: 16px;
        }
    }

    .subfolder {
        position: relative;
        display: inline-block;
        .subfolder-content {
            display: none;
            position: absolute;
            width: @mnuWidth;
            background-color: fade(@colSubmenuBG, 75%);
            font-family: @fntSubmenu;
            font-size: 1.2em;
            color: @colSubmenuText;
            padding: 0.5em;
            //margin: 0 20em 0 0;
            border-radius: 0.5em;
            box-shadow: 0 0.1em 1em @mnuShadow;

            li {
                display: list-item;
                text-align: left;
                list-style: none;
                text-shadow: none;
                text-overflow: ellipsis;
                margin-bottom: 0.2em;
                border-bottom: solid 0.1em @colSubmenuBG;
                white-space: nowrap;
                overflow: hidden;

                a {
                    &:link, &:visited, &:hover, &:active {
                        color: @colSubmenuText;
                        text-decoration: none;
                    }
                }
            }
        }

        &:hover .subfolder-content {
            display: block;
        }
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
